/**{outline: 1px solid green;}*/
p, h2, h1{text-align: center;}
h1,h2{color: #339999;}
/*MENU NAVEGACION++++++++++++++++++++++++++++++++++*/
.nav-pills li{
	background: rgba(255,255,255,.6);
	margin: 10px 5px;
	border: 2px solid black;
}
.nav-pills li a {color: black;font-size: 15px;border: 2px dashed blue;}
.nav-pills li a:hover{
	color: #CC0066; 
	/*transform:scale(1.1);*/
	
}
h3{margin-top: 0;}
/*IMAGEN++++++++++++++++++++++++++++++++++++++++++++++*/
.inicio{
	background: url(../images/401837.jpg) center top;
	width: 100%;
	height: 670px;
}
.opacity{
	background: rgba(0,0,0,0.2);
	width: 100%;
	height: 480px;
}
/*TEXTO ++++++++++++++++++++++++++++++++++++++++++++++++++*/
.text{padding:40px 0px 50px ;}
.mer{margin-bottom: 40px;}
/*FOTO+++++++++++++++++++++++++++++++++++++++++++++++++++*/
.image{
	background: #f4f4f4;
	padding: 25px 0 40px;
}
.cont-img{
	margin: auto;
	display: block;
	width: 100%;
}
.cont-img img{
	border-radius: 50%;
	width: 180px;
	height:180px;
	display: block;
	margin: auto;
	border: solid white 5px;
}
/*ACERCA DE MI+++++++++++++++++++++++++++++++++++++++++++++*/

.porta p {margin-top:5px;}
#portafolio{
	background: #f4f4f4; 
	padding:30px 0 70px;
}
.cont-image img{
	width: 100%;
	height: 200px;
}
.cont-image a{
	color:black;
	text-decoration: none;
}

.porta{
	box-sizing:border-box;
	padding: 10px;
	background: white;
	margin: 10px 0 0px;
	border: solid #e8edef 1px;
}
/*FOOTTER*/
#contact i{
	font-size: 50px;
	color: black;
	margin: 20px 10px;
}
#contact i:hover{
	color: #CC0066; 
	transform:scale(1.1);
}
#contact{
	padding: 20px 0;
}
.footer1{
	background: black;
	color: white;
	padding: 25px 0;
}
/*.container{background:lightblue;}
body{background: #eee8aa;}
h1, h2, h3, h4, .menu{
	color: #a9268d;
	text-align: center;
	margin:0;
}
.list li{
	display: inline-block;
	margin: 20px 30px;
}
.list a {color: black;}
.list a{transition: .7s;}
.list a:hover{transform: scale(1.2)}

header{
	background: url(../images/background1.jpg) bottom ;
	height: 300px;
	text-align: center;
}

.bio{
	background: url(../images/tile1.png);
	overflow: hidden;
}
.perfil{
	float: left;
	margin: px;
}
.letras{
	float: right;
	text-align: justify;
	
}
.parrafo{margin:20px 30px 100px; }
.favoritos{
	overflow: scroll;
	height: 350px;
	padding: 15px 10px;
}
.gato{
	width: 210px;
	height: 210px;
	border-radius: 100%;
	padding: 2px;
	border: dashed 2px #a9268d;
	margin:15px 30px;
}
.favoritos{
	text-align: center;
}

.footer{
	background: url(../images/tile2.png);
	text-align: center;
	
}
.footer img{
	margin: 20px 30px; 
}*/